<div id="divLogin">
    <form method="POST">
        <legend>Administration</legend>
        <div class="divElemLogin">
            <label for="login">Login :</label>
            <input name="login" required type="text">
        </div>
        <div class="divElemLogin">
            <label for="mdp">Mot de passe :</label>
            <input name="mdp" required type="password">
        </div>
        {{#if error}}
            <p id="error">{{error}}</p>
        {{/if}}
        <div class="divElemLogin">
            <button>Annuler</button>
            <input type="submit" value="Connexion">
        </div>
    </form>  
</div>
