{{>menuVipAdmin}}

<form method="POST" accept-charset="utf-8">
    <fieldset>
        <legend>Supprimer VIPs</legend>
        <div id="containerForm">
            <div>
                <label for="nom">Nom du vip :</label>
                <select name="idVip">
                    {{#each vip}}
                    <option value="{{this.id}}">{{this.prenom}} {{this.nom}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <input type="submit" value="Supprimer le VIP">
    </fieldset>
</form>