<div id="footer">
    L'encyclopédie des stars depuis février 2021 (en NodeJS)
    <br />
    © IUT du Limousin DUT Informatique année 2
    <br />
    Application réalisée par Florian TORIBIO
    <br />
    <br />
    <img src="/images/nodejs.png" id="LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
</div>