<p>Administration</p>
<form>
    <label for="login">Login</label>
    <input name="id">
    <label for="mdp">Mot de passe</label>
    <input name="mdp">
    <button>Annuler</button>
    <input type="submit" value="Connexion">
</form>