<div id="divLogin">
    <form method="POST" style="width: 40%; margin : auto">
        <legend style="color: white">Administration</legend>
        <div class="divElemLogin">
            <label style="color : white" for="login">Login :</label>
            <input name="login" required type="text">
        </div>
        <div class="divElemLogin">
            <label style="color : white" for="mdp">Mot de passe :</label>
            <input name="mdp" required type="password">
        </div>
        {{#if error}}
            <p id="error">{{error}}</p>
        {{/if}}
        <div class="divElemLogin">
            <button>Annuler</button>
            <input type="submit" value="Connexion">
        </div>
    </form>  
</div>
