<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/png" href="/css/etoile.ico" sizes="16x16" />
    <link rel="stylesheet" href="/css/structure.css" />
    <link rel="stylesheet" href="/css/lightbox.min.css">
    <title> {{title}}</title>
</head>

<body class="monBody">
    <div id="container">
        <div id="header">
            <div class="baniere"><img src="/images/sixvoix.png" alt="SIXVOIX l'encyclopédie des stars" /> </div>
        </div>
        <div class="menu_haut">
            <ul>
                <li><a href="/accueil">ACCUEIL</a></li>
                <li class="traitVertical"><a href="/repertoire">REPERTOIRE DES STARS</a></li>
                <li class="traitVertical"><a href="/album">ALBUM PHOTO</a></li>
                <li class="traitVertical"><a href="/articles">ARTICLES</a></li>
            </ul>
        </div>
        <div id="contenu">
            <br />
            <br />
            {{{body}}}
        </div>
        {{>footer}}
    </div>
    <script type="text/javascript" language="javascript" src="/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/lightbox.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/infobulle.js"></script>
    <script type="text/javascript" language="javascript" src="/js/albumPhoto.js"></script>
</body>

</html>